<div class="login-page">
 <app-navbar></app-navbar>
	<div class="page-header header-filter">
		<div class="container ">
			<div id="contentAreas" class="cd-section">
			    <h4>Products List</h4>
		        <div class="table-responsive">
			        <table class="table table-striped">
			            <thead>
			                <tr>
			                    <th class="text-center">#</th>
			                        <th>Product Name</th>
			                        <th>Type</th>
			                        <th>Qty</th>
			                    <th class="text-right">Price</th>
			                    <th class="text-right">Amount</th>
			                 </tr>
			            </thead>
			            <tbody>
			                <tr *ngFor="let detail of dashbordDetail">
			                    <td class="text-center">{{detail.slno}}</td>
			                    <td>{{detail.productname}}</td>
			                    <td>{{detail.type}}</td>
			                    <td>{{detail.qty}}</td>
			                    <td class="text-right">€{{detail.price}}</td>
			                    <td class="text-right">€ {{detail.amount}}</td>
		                    </tr>
                        </tbody>
                    </table>
		        </div>
			</div>
	    </div>
		<footer class="footer">
			        <div class="container">
			            <div class="copyright pull-center">
			                © <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com" target="_blank">Triodesk</a>
			            </div>
					</div>
		</footer>  	           
	</div>


</div>
