<div class="login-page">
    <div class="page-header header-filter">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
              <div class="card card-signup">
                <form class="form" method="" action=""  #forgotForm="ngForm" (ngSubmit)='onForgot(forgotForm.value)'   novalidate>
                  <h2 class="card-title text-center">Forgot Password</h2>
                  <div class="card-content">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <div class="form-group is-empty">
                        <input type="text" class="form-control" placeholder="Email..." 
                        name="email"#Email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required ngModel>
                        <div *ngIf="Email.errors && (Email.touched|| Email.dirty)" class="alert text-danger">
                            <div [hidden]="!Email.errors.required">
                                required valid email
                              </div>
                              <div [hidden]="!Email.errors.pattern">
                                  Please enter valid email
                              </div>                              
                        </div>
                        <span class="material-input"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row text-center" >                   
                        <input class="btn btn-primary btn-simple btn-wd btn-lg"  [disabled]="!forgotForm.form.valid" type="submit" data-toggle="modal" data-target="#loginModal" >
                    <a routerLink="/login" class="btn btn-primary btn-simple btn-wd btn-lg">
                      cancel </a>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
                  <div class="container">
                      <div class="copyright pull-center">
                          © <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com" target="_blank">Triodesk</a>
                      </div>
                  </div>
        </footer>
        
      </div>
  </div>